.summary {
    position: sticky;
    top: 0;
}
.common {
    width: 96%;
    height: 50px;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: rgb(246, 246, 246);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.intro {
    display: flex;
    align-items: center;
    gap: 15px;
}
.personalInfo img {
    width: 15%;
    border-radius: 100%;
}

.more-info div {
    text-align: center;
}

.exercise-time {
    justify-content: space-between;
}

.activity-btn-div {
    margin-top: 20px;
    text-align: center;
}
.activity-btn {
    width: 80%;
    height: 50px;
    border: 1px solid #0c0c0c;
    border-radius: 10px;
    background-color: #0c303d;
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.activity-btn:hover {
    background-color: white;
    color: #0c0c0c;
}
